@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normal */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
/* Medium */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
/* Semi bold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
/* Extra bold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@layer utilities {
  .highlight {
    position: relative;

    &:before {
      @apply content-[''] absolute w-[97%] h-[60%] bottom-0.5 -z-10;
    }
    &__pink:before {
      @apply bg-pink-light;
    }
    &__purple:before {
      @apply bg-purple-light;
    }
    &__yellow:before {
      @apply bg-yellow-light;
    }
  }

  .tag {
    @apply font-bold tracking-[.32em] uppercase;
  }
}

* {
  @apply font-gilroy;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply font-medium;
}

h1 {
  @apply text-5xl text-gray-dark;
}

h2 {
  @apply text-4xl text-gray-dark;
}

h5 {
  @apply text-xl font-bold;
}

h6 {
  @apply text-lg;
}

p {
  @apply text-gray-light leading-7;
}

a {
  @apply text-base font-semibold cursor-default;
}
